body {
  padding: 50px;
  font-family: sans-serif;
  color: #000;
}

.cell {
  min-height: 20px;
  min-width: 20px;
  font-size: 90%;
}

td {
  margin: 4px;
  padding: 1px;
}

table {
  border-collapse:collapse;
}

#grid {
  margin-top: 10px;
  border: 1px solid #4ab;
}

#stop {
  display: none;
}
